body {
  padding: 10px 20px 10px 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  gap: 16px;
}

.form, .display {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.general, .education, .experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.display {
  display: flex;
}

.general, .education, .experience {
  padding: 12px;
  border: gray solid 1px;
}

label {
  padding-bottom: 4px;
}

label::after {
  content: ':';
}

input {
  font-size: 16px;
  padding: 8px;
}

button {
  height: 36px;
}
