body {
  padding: 10px 20px 10px 20px;
}

.App-link {
  color: #61dafb;
}

.form {
  width: 50%;
}

.form, .general, .education, .experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.general, .education, .experience {
  padding: 12px;
  border: gray solid 1px;
}

label {
  padding-bottom: 4px;
}

label::after {
  content: ':';
}

input {
  font-size: 16px;
  padding: 8px;
}

button {
  height: 36px;
}